<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tsogolo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:label="@string/app_name"
        android:icon="@drawable/ic_baseline_school_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tsogolo"
        tools:targetApi="n">
        <activity
            android:name=".ui.jobs.JobDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_job_details"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.jobs.JobsActivity"
            android:exported="false"
            android:label="@string/title_activity_jobs"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.FirstLaunchActivity"
            android:exported="true"
            android:label="@string/title_activity_first_launch"
            android:theme="@style/Theme.Tsogolo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.career.CareerSearchActivity"
            android:exported="false"
            android:label="Search"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.explore.CategoryDetailsActivity"
            android:exported="false"
            android:label="career"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.explore.ExploreActivity"
            android:exported="false"
            android:label="explore"
            android:theme="@style/Theme.Tsogolo" />

        <activity
            android:name=".ui.career.CareerDescriptionActivity"
            android:exported="false"
            android:label="career Description"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.personality.PersonalityDescriptionActivity"
            android:exported="true"
            android:label="@string/title_activity_personality_description"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.career.CareerGuideActivity"
            android:exported="true"
            android:label="@string/title_activity_career_guide"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.personality.PersonalityTestActivity"
            android:exported="true"
            android:label="@string/title_activity_personality_test"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.career.CareerFinderActivity"
            android:exported="true"
            android:label="@string/title_activity_career_finder"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".ui.profile.ProfilingActivity"
            android:exported="true"
            android:label="@string/title_activity_profiling"
            android:theme="@style/Theme.Tsogolo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Tsogolo.NoActionBar">
        </activity>
    </application>

</manifest>
